{% extends "base.html" %}

{% block content %}
<h1>Sign Up</h1>
<form action="/signup" method="post">
    <table>
        <tr>
            <td><label for="username">Username</label></td>
            <td>
                <input name="username" type="text" value="{{username}}" />
            </td>
            {% if name_error %}
            <td class="error">{{name_message}}</td>
            {% endif %}
        </tr>
        <tr>
            <td><label for="password">Password</label></td>
            <td>
                <input name="password" type="password" />
            </td>
            {% if password_error %}
            <td class="error">Please enter a valid password.</td>
            {% endif %}
        </tr>
        <tr>
            <td><label for="verify">Verify Password</label></td>
            <td>
                <input name="verify" type="password" />
            </td>
            {% if match_error %}
            <td class="error">Passwords do not match.</td>
            {% endif %}
        </tr>
    </table>
    <input type="submit" value="Sign Up" />
</form>
{% endblock %}